# Dependencies
/node_modules
/.pnp
.pnp.*

# Production / Next.js
/.next/
/out/
/build

# Testing & Temp artifacts
/coverage
/playwright-report
/test-results

# Environment & Config
.env*
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
.cursor
